/* Empty. Add your own CSS if you like */

body {                                            /*Body*/
  font-family: "Raleway";
}
a {
  text-decoration: none;
  color: inherit;
}
header {
    background: #FFAA00;
    border: none;
}
h1 {                                                  /*Heading 1*/
  font-family: "Changa One";
  color: white;
  letter-spacing: 4px;
  font-size: 30px;
}
.vote {
  margin-top: 20px;
  border-bottom: 1px #bbb solid;
}

.votePhoto {
  width: 100%;
}

.galContainer {
  border: none;
  padding:0;
}

.gallery {

  /*border: .5px black solid;*/
  display: inline-block;
  padding: none;
  /*margin-top: 1em;*/
  margin-left: .22em;
}

.galleryPhoto {
  padding: none;
  width: 100%;
}
 #arrow {
   padding: 20px;
   /*margin-left: 10px;
   margin-right: 10px;*/
 }

 #about-section {                                  /*About section extended header*/
  color: #333333;
  overflow: hidden;
  width: 100%;
}

.description {
  width: 90%;
  margin: 50px auto;
  background-color: white;
  text-align: left;
}

.about-heading {
  padding: 20px 20px 0px 0px;
  letter-spacing: 2px;
  font-size: 50px;
  font-weight: bold;
  font-family: "Raleway";
  color: #333333;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}
.about-par{
  text-align: left;
  color: #333333;
  font-size: 22px;
  line-height: 150%;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 25px;
}
.filter {
  background: #FFAA00;
  width: 100%;
  height: 65px;
  border-top: 1px solid white;
  text-align: center;
}
.filter-list {
  width: 450px;
  margin: 0 auto;
  height: inherit;
  list-style-type: none;
}
.filter-list li {
  float: left;
  font-size: 20px;
  display: inline-block;
  height: inherit;
  font-weight: 500;
  color: white;
  padding-left: 2%;
  padding-right: 2%;
  text-transform: uppercase;
  padding-top: 6%;
}

#submit-title {                                   /*Submit section campaign information*/
  background-color: white;
  height: 100%;
  opacity: 1.0;
}
#submit-title h3{
  letter-spacing: 2px;
  font-size: 30px;
  color: #333333;
}
#submit-title p {
  color: #333333;
  text-align: center;
  font-size: 20px;
  max-width: 800px;
  margin: 0 auto;
}