/* Empty. Add your own CSS if you like */
.vote {
  margin-bottom: 20px;
}

.votePhoto {
  width: 100%;
}

.galContainer {
  border: none;
  padding:0;
}

.gallery {

  /*border: .5px black solid;*/
  display: inline-block;
  padding: none;
  /*margin-top: 1em;*/
  margin-left: .22em;
}

.galleryPhoto {
  padding: none;
  width: 12.5em;
}
