/* Empty. Add your own CSS if you like */

body {                                            /*Body*/
  font-family: "Raleway";
  background: #f9f9f9;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
    background: #FFAA00;
    border: none;
}
h1 {                                                  /*Heading 1*/
  font-family: "Changa One";
  color: white;
  letter-spacing: 4px;
  font-size: 30px;
}
button {
  padding: 0px;
  width: 220px;
  height: 40px;
  margin: 30px auto;
  display: block;
  clear: right;
  background: white;
  color: #333333;
  border: solid 1px #333333;
  outline: none;
  font-size: 22px;
  font-weight: 400;
}
button:hover {
  border: solid 1px #de4831;
  color: #de4831;
}
input {                                              /*Form*/
  text-align: center;
  vertical-align: center;
  float: center;
  margin: 0 auto;
  padding-top: 30px;
}
input[type = "text"]{                              /*Text input*/
  display: block;
  width: 100%;
  height: 40px;
  font-size: 20px;
  color: #DE4831;
  letter-spacing: 4px;
  vertical-align: center;
  float: center;
}
input[type = "email"]{                              /*Text input*/
  display: block;
  width: 100%;
  height: 40px;
  font-size: 20px;
  color: #DE4831;
  letter-spacing: 4px;
  vertical-align: center;
  float: center;
}

.votePhoto {
  width: 100%;
}

.galContainer {
}

.galleryPhoto {
  padding: none;
  width: 100%;
}
 #arrow {
   padding: 20px;
   /*margin-left: 10px;
   margin-right: 10px;*/
 }

 #about-section {                                  /*About section extended header*/
  color: #333333;
  overflow: hidden;
  width: 100%;
}

.description {
  width: 90%;
  margin: 40px auto;
  background-color: white;
  text-align: left;
}

.about-heading {
  padding: 20px 20px 0px 0px;
  letter-spacing: 2px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Raleway";
  color: #333333;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}
.about-par{
  text-align: left;
  color: #333333;
  font-size: 16px;
  line-height: 150%;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 25px;
}
.filter {
  background: #FFAA00;
  width: 100%;
  height: 55px;
  border-top: 0.5px solid white;
  text-align: center;
}
.filter-list {
  margin: 0 auto;
  height: inherit;
  list-style-type: none;
  max-width: 80%;
}
.filter-list li {
  max-width: 50%;
  display: inline-block;
  font-size: 12px;
  height: inherit;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  padding-top: 6%;
  padding-left: 5px;
  padding-right: 5px;
}
#campaignFilter > img {
  position: absolute;
  margin-left: -14px;
}

#campaign-list {
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  z-index: 10;
  border: none;
  outline:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background: transparent;
  cursor:pointer;
  width: 110px;
}
#campaignFilter {
  width: 28%;
  margin: 0 auto;
  padding-top: 5%;
  text-align: center;
}
#submit-title {                                   /*Submit section campaign information*/
  background-color: white;
  height: 100%;
  margin-top: 40px;
  width: 80%;
  margin: auto;
  margin-top: 12%;
  padding-bottom: 40px;
}
#submit-title h3{
  letter-spacing: 2px;
  font-size: 30px;
  color: #333333;
  text-align: center;
  max-width: 95%;
  padding-bottom: 15px;
  margin: 0 auto;
}
#submit-title p {
  color: #333333;
  text-align: center;
  font-size: 16px;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 10px;
  line-height: 130%;
}
.footer {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  float: center;
  font-size: 9px;
}
#campaign {                                    /*Vote Section Campaign Information*/
  background-color: white;
  width: 100%;
  height: 40px;
}
#campaign-slogan {
  padding: 15px;
  font-size: 12px;
  font-family:'Raleway';
  text-align: center;
  letter-spacing: 3px;
  width: 100%;
  color: #333333;
}
.menu-img {
    margin-left: 10px;
    margin-top: 5px;
}

#emptyHeart, #fullHeart {
  height: 25px;
  width: 25px;
  margin-left: 8px;
  display: inline-block;
  position: absolute;
}
.vote-space {
  cursor: pointer;
  font-size: 0;
  overflow: none;
  position: absolute;
  margin-top: -35px;
  width: 75px;
  height: 30px;
  padding-top: 5px;
  background-color: rgba(255,  255, 255, 0.3);
}
#photoScore {
  display: inline-block;
  color: #DE4831;
  font-size: 18px;
  font-style: "Raleway";
  margin-left: 45px;
  margin-top: -1px;
}

/*#winning-icon {
  position: absolute;
  height: 18%;
  width: 15%;
  max-width: 100px;
  max-height: 100px;
  top: 0px;
  padding-top: 0px;
  right: 0;
  padding-right: 0px;
  cursor: default;
}*/


#hide {
  display: none;
}
.current, .highlight {
  opacity: .5;
}
#share-buttons {                                 /*Share icon positioning*/
    margin-top: 50px;
    margin-left: 10px;
}
#share-buttons img {                             /*Share icon sizing*/
 margin: 8px;

}
